<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbull.meme.maker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.androidbull.meme.maker.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemeMaker"
        android:usesCleartextTraffic="true">

        <!--activities-->
        <activity
            android:name="com.androidbull.meme.maker.ui.activities.SplashActivity"
            android:theme="@style/Theme.MemeMaker.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.androidbull.meme.maker.ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MemeMaker" />

        <activity android:name="com.androidbull.meme.maker.ui.activities.PurchaseActivity" />

        <activity
            android:name="com.androidbull.meme.maker.ui.activities.SettingsActivity"
            android:label="@string/str_settings" />

        <activity
            android:name="com.androidbull.meme.maker.ui.activities.CustomFontActivity"
            android:label="@string/str_font_manager" />

        <activity
            android:name="com.androidbull.meme.maker.ui.activities.DownloadAllMemeActivity"
            android:label="@string/str_download_memes" />

        <activity
            android:name="com.androidbull.meme.maker.ui.activities.MemeGeneratorActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter android:label="@string/meme_generator_activity_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.androidbull.meme.maker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>